
/* header */

header
{
	flex-direction: column;
	margin: 20px 0 45px 0;
	position: relative;
}

#logo
{
	margin: 0 0 25px 20px;
}








/* nav */

nav, nav ul
{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#inscription
{
	position: absolute;
	top: 20px;
	right: 20px;
}

.ancre
{
	width: 50%;
}

.ancre a
{
	display: inline-block;
	width: 50%;
	border-bottom: solid #F2F2F2;
	margin: 0;
	padding: 0 25% 10px 25%;
}

#marge
{
	margin-right: 3px;
}

.ancre a:hover
{
	border-bottom: solid #0065FC;
	border-top: none;
	color: #0065FC;
}

#inscription a:hover
{
	border-top: none;
}







/* recherche */

#recherche
{
	margin-left: 20px;
}

#recherche h1
{
	margin-bottom: 10px;
}

#zone_recherche
{
	margin-top: 25px;
	margin-bottom: 15px;
	position: relative;
}

form
{
	width: 75%;
}
#zone
{
	width: 100%;
}

#zone_recherche p
{
	display: none;
}

#zone_recherche i[id="loupe"]
{
	display: inline;
	position: absolute;
	top: 0px;
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
}

#filtre
{
	flex-direction: column;
}

#filtre p
{
	margin: 10px 0 2px 0;
}

#choix_filtre
{
	flex-wrap: wrap;
}

#eco
{
	margin-right: 15px;
}

.filtre p
{
	padding-left: 50px;
	padding-right: 15px;
}

.filtre i
{
	top: 10px;
	left: 0px;
	padding: 10px 10px 10px 10px;
}

#famille i
{
	padding: 10px 12px 10px 12px;
}

#information
{
	margin-top: 15px;
	width: 100%;
}








/* Section 1 */ 

#ancre_hebergement
{
	flex-direction: column-reverse;
	margin: 0px;
}

/* ASIDE */

aside
{
	margin: 0 0 15px 0;
	border-radius: 0px;
	padding: 25px 15px 20px 15px;
}

aside h1
{
	font-size: 1.35em;
}

.fa-chart-line
{
	font-size: 1.5em;
	right: 15px;
}

.populaires
{
	margin-bottom: 15px;
	border-radius: 25px;
}

.text_populaire
{
	right: 0px;
	left: 130px;
	font-size: 0.8em;
	width: auto;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.text_populaire p
{
	margin-bottom: 45px;
}

/* HEBERGEMENT */

#block_hebergement
{
	background-color: white;
	border-radius: 0px;
	margin: 0px;
	padding: 0 20px 0 20px;
}

#block_hebergement h1
{
	font-size: 1.2em;
}

.choix_hebergement
{
	margin-right: 0;
}

.choix_hebergement img
{
	width: 100%;
	padding: 0;
}

.text_hebergement
{
	padding: 0 0 10px 3%;
	width: 97%;
	box-shadow: 0 0 2px grey;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

#hebergement a
{
	width: 100%;
	margin-bottom: 30px;
}






/* ACTIVITES */

#ancre_activites
{
	margin: 0 15px 15px 15px
}

#activites
{
	flex-direction: column;
	height: 975px;
	margin: 0;
}

#activites div
{
	width: 100%;
	margin: 0;
	height: 190px;
}

#activites img
{
	height: 150px;
	width: 100%;
	margin-bottom: 50px;
}

#activites p
{
	top: 95px;
	width: 95%;
	padding: 20px 0 0 5%;
}






/* FOOTER */

footer
{
	flex-direction: column;
}

footer div
{
	padding: 0;
	margin: 0 0 10px 0;
}

footer li
{
	font-size: 0.9em;
	margin-bottom: 13px;
}

footer h2
{
	font-size: 1em;
}

#a_propos
{
	margin-top: 25px;
}