/* bleu #0065FC / bleu clair #DEEBFF / gris #F2F2F2

/* Styles globaux */
body
{
    background-color: white;
    font-family: "Raleway", sans-serif;
    color:  #181818;
    margin: 0;
}






/* header */

header
{
    margin: 0 50px 0 50px;
   display: flex;
   justify-content: space-between;
}

#logo
{
    height: 50px;
    margin-top: 40px;
    margin-bottom: 15px;
}







/* nav */

nav ul
{
    display: flex;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 40px;
}

nav a
{
    margin: 0 45px 0 0;
    padding: 38px 15px 0 15px;
}

nav a
{
    color: #181818;
    text-decoration: none;
}

#inscription
{
    font-weight: bold;
    color: #0065FC;
}

nav a:hover
{
    color: #0065FC;
    border-top: solid #0065FC;
}







/* recherche */

#recherche
{
    margin: 0 50px 0 50px;
}

#recherche h1
{
    font-size: 1.3em;
    margin-bottom: 5px;
}

#recherche h1 + p
{
    margin-top: 2px;
}

#zone_recherche, .filtre, #filtre
{
    font-weight: bold;
}

#zone_recherche
{
    display: flex;
}

.marker
{
    border: solid #F2F2F2;
    padding: 13px 13px 13px 13px;
    height: 15px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    background-color: #F2F2F2;
    margin: merge;
}

#zone
{
  border-top: solid 2px #F2F2F2;
  border-bottom: solid 2px #F2F2F2;
  border-left: solid 2px #F2F2F2;
  border-right: solid 2px #F2F2F2;
  height: 39.8px;
  width: 220px;
  font-weight: bold;
  font-size: 0.9em;
  padding-left: 10px;
}

#zone_recherche p
{
    background-color: #0065FC;
    padding: 11px 12px 15px 12px;
    margin-top: 0px;
    color: white;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

#filtre
{
    display: flex;
    margin-top: 5px;
}

#filtre p
{
    margin-right: 25px;
}

.filtre
{
    display: flex;
    position: relative;
}

.filtre p 
{
    margin: 5px 0px 0 25px;
    border: solid 3px #F2F2F2;
    border-radius: 25px;
    padding: 9px 10px 8px 40px;
}

.filtre i
{
    border: solid 3px #DEEBFF;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 12px 12px 12px 12px;
    position: absolute;
    top: 4px;
    left: 15px;
}

.filtre p:hover
{
    background-color: #0065FC;
    color: white;
}

#information
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#information i
{
    border: solid 2px #F2F2F2;
    margin: 15px 10px 0 0;
    padding: 4px 8px 4px 8px ;
    height: 14px;
    border-radius: 50%;
    color: #0065FC;
}

#information p
{
    font-size: 1em;
}








/* section 1 */

#ancre_hebergement
{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 50px;
}

.blue 
{
    color: #0065FC;
}

.gris
{
    color: #E2E2E3;
}

/*HEBERGEMENT */

#block_hebergement
{
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 30px 25px 0 30px;
    height: 600px;
    flex: 2;
    margin-right: 40px;
}

#hebergement
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#hebergement h2
{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1.2em;
}

#hebergement p
{
    margin-top: 2px;
    margin-bottom: 0px;
}

#hebergement i
{
    margin-top: 5px;
}

.choix_hebergement
{
    background-color: white;
    margin: 0 20px 30px 0;
    border-radius: 20px;
    font-size: 0.8em;
    position: relative;
}

.choix_hebergement img
{
    height: 140px;
    width: 240px;
    padding: 5px 5px 45px 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.text_hebergement
{
    position: absolute;
    top: 120px;
    padding-left: 15px;
    width: 230px;
    background-color: white;
}

#bold
{
    font-weight: bold;
    font-size: 1.2em;
}

/* ASIDE */

aside
{
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 30px 25px 0 30px;
    height: 600px;
    position: relative;
}
aside img
{
    height: 130px;
    width: 180px;
    padding: 5px 5px 5px 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

aside h1
{
    font-size: 1.6em;
    margin-top: 10px;
}

.fa-chart-line
{
    position: absolute;
    top: 35px;
    right: 35px;

}

.populaires
{
    display: flex;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px;
    position: relative;
}

.text_populaire
{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    right: 55px;
    height: 140px;
    width: 190px;
    padding: 0 0 0 20px;    
}

.text_populaire h2
{
    margin-bottom: 0px;
    font-size: 1.2em;
}

.text_populaire p
{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1em;

}





/* section 2 */

#activites
{
}

#activites #test
{
    height: 300px;
}

#test
{

    clip: rect(50px, auto, 200px, auto);
}





/* FOOTER */

footer
{
    display: flex;
    background-color: #F2F2F2;
}

footer div
{
    margin-right: 200px;
    padding: 30px 0 50px 10px;
}

footer ul
{
    list-style-type: none;
}

footer h1
{
    font-size: 1.2em;
    padding-left: 40px;
}

footer li
{
    font-size: 1.1em;
    margin-left: 0;
    margin-bottom: 10px;
}